.wrap{width: 100%;background: #f2f2f2;}
.wrap .title{height: 45px;line-height: 45px;}
.wrap .title h4,p,span{display: inline;color: #676767;}
.wrap .title p{font-size: 14px;}
.wrap .title span{margin:13px}
.wrap .content{position: relative;width: 100%;height: 673px;background: #fff;border-bottom: 1px solid #f2f2f2;}
.wrap .content .left{overflow: hidden;width: 350px;}
.wrap .img{width: 350px;height: 350px;overflow: hidden;margin: 14px;position: relative;}
.wrap .img span{background: #000;opacity: .5;position:absolute ;width: 160px;height: 160px;}
.wrap .imgList{width: 350px;margin-top: 32px;margin-left: 20px;position: relative;}
.wrap .imgList img{float: left;margin-right: 10px;width: 50px;height: 50px;border: 2px solid #fff;}
.wrap .imgList .active{border:2px solid #e4393c;}
.wrap .imgList .prevBtn{width: 13px;height: 24px;position: absolute;left: -20px;top: 10px;background: url(../images/click_03.jpg) no-repeat;}
.wrap .imgList .nextBtn{width: 13px;height: 24px;position: absolute;right: 0px;top: 10px;background: url(../images/click_05.jpg) no-repeat;}
.wrap .prev{width: 320px;height: 320px;overflow: hidden;position: absolute;left: 364px;top: 0;z-index: 10;}
.wrap .prev img{position: absolute;}
.wrap .bot{margin-top: 25px;height: 27px;line-height: 27px;position: relative;width: 336px;font-size: 12px;font-family: "微软雅黑";padding-left: 14px;}
.wrap .bot .jvbao{position:absolute ;right: 0;}
.wrap .bot .jvbao:hover{color:#e33a3d ;}





.wrap .right{width: 832px;position: absolute;left: 364px;top: 13px;}
.wrap .right p{font-size: 12px;font-family: "微软雅黑";color:#666;display:block;height: 25px;line-height: 25px;}
.wrap .right i{font-style: normal;text-align-last:justify;width: 52px;display: inline-block;margin-right: 10px;}
.wrap .right .book h4{height: 26px;line-height: 26px;}
.wrap .right .book p{width: 588px;height: 41px;line-height: 20px;font-size: 12px;font-family: "微软雅黑";color:#e33a3d;display: block;}
.wrap .right .book .author{color: #666;margin-top: 10px;}
.wrap .right .book .author span{color:#666}
.wrap .right .book a{color: #005aa0;margin:0 5px 0 5px; }
.wrap .right .inner{padding-left: 12px;}
.wrap .right .inner .icon{}
.wrap .right .inner a,.num{color:#e33a3d;}
.wrap .right .inner .num{padding: 5px;}
.wrap .right .inner .area{border: 1px solid #cecbce;height: 23px;display: inline-block;padding:0 5px;margin-right: 5px;}
.wrap .right .inner .sel{width:10px;height:7px;display: inline-block;overflow: hidden;line-height: 0;margin-left: 5px;font-family: consolas;font-size: 17px;cursor: pointer;}
.wrap .right .price{width: 588px;background: #f7f7f7;}
.wrap .right .price p{height: 30px;line-height: 30px;padding: 7px 0 7px 0;}
.wrap .right .price em{font-style: normal;font-size: 26px;color: #e33a3d;padding-right:5px ;font-weight: bold;}
.wrap .right .price .thr{text-decoration: line-through;color: #ccc;padding: 0 5px 0 5px ;}
.wrap .right .price img{display: inline-block;}



.wrap .right .select{border-top: 1px dashed #ddd;width: 588px;margin-top: 10px;font-size: 12px;font-family: "微软雅黑";color:#666;display:block;position: relative;height:230px}
.wrap .right .select p,.p{color: #666;height: 29px;line-height: 29px;display: inline-block;border: 1px solid #ccc;padding:0 5px;margin-bottom: 5px;margin-right: 5px;cursor:context-menu;position: relative;background: no-repeat 100% 100%; font-size: 12px;}

.wrap .right .select p:hover{border: 1px solid #e33a3d;}
.wrap .right .select .active{border: 1px solid #e33a3d;}
.wrap .right dl{margin-top: 18px;position: relative;}
.wrap .right dt{height: 25px;line-height: 25px;display: inline-block;}
.wrap .right dd{display: inline-block;position: absolute;left: 65px;top: -5px;}
.wrap .right .select span{width: 18px;height: 25px;display: inline-block;}
.wrap .right .select .dui{background: no-repeat; right: 0;bottom:0;}
.wrap .right .select .book1{background: url(../images/58f45ea0Nc4500346.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book2{background: url(../images/baiyexing.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book3{background: url(../images/55a5bf46N358555e1.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book4{background: url(../images/573a7ecfN672060b1.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book5{background: url(../images/57f881aaN0a9b287e.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book6{background: url(../images/59cdf6deN491ebd9d.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book7{background: url(../images/58f460f4N9ca31d0b.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book8{background: url(../images/55924f83N050a39fb.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book9{background: url(../images/53ab8422N550b335c.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book10{background: url(../images/55924f83N050a39fb.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book11{background: url(../images/55924f83N050a39fb.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book12{background: url(../images/55924f83N050a39fb.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book13{background: url(../images/55924f83N050a39fb.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .book14{background: url(../images/55924f83N050a39fb.jpg) no-repeat 2px 3px;vertical-align: -5px;margin-right: 3px;}
.wrap .right .select .fenqi{top:80px;}
.wrap .right .number{position: absolute;top:500px;}
.wrap .right .number input{width: 34px;height: 34px;border: 1px solid #ccc;text-align: center;}
.wrap .right .number button{background: #f1f1f1;border: 1px solid #ccc;width: 18px;height: 18px;}
.wrap .right .number .add{position: absolute;left: 35px;top: 1px;}
.wrap .right .number .sub{position: absolute;left: 35px;top: 19px;}
.wrap .right .number .submit{width: 100px;height: 36px;background: #e3414b;border-radius: 3px;color:#fff;text-align: center;margin-left:30px;font-size: 12px;font-weight: bold;}
.wrap .right .bo{margin-top: 20px;}
.wrap .right .p a{color: #005aa0;}
.wrap .right .p span{ color:#e33a3d;padding:0 5px;}














